[2017-10-20 14:14] lwaldron opened #1 "remaining curation errors"
Would be nice to clear up the last of these errors and propagate these through the pipeline while everyone's together...

[2017-10-30 20:23] lwaldron opened #2 "Create "warning" option for requiredness in template.csv"
Currently, only "required" or "optional" are permissible. Add "warning" as a possibility, and this will return a warning in the check and in the produced vignette.

[2017-10-30 20:23] lwaldron opened #3 "Add time & date to vignette"

[2017-12-07 19:39] edoardopasolli opened #4 "number_bases and median_read_length"
in the "number_bases" and "median_read_length" fields some samples have "NA"

[2017-12-07 19:40] edoardopasolli opened #5 "add PMID to curated metadata for TettAJ_2016"
PMID is missing for the dataset "TettAJ_2016" which is now published

[2017-12-07 19:41] edoardopasolli opened #6 "NCBI_accession"
NCBI_accession needs to be fixed for these three datasets: "HMP_2012", "KarlssonFH_2013", "YuJ_2015". Additionally, it is missing in "LomanNJ_2013", "QinJ_2012", "RampelliS_2015", "TettAJ_2016"

[2017-12-07 19:45] edoardopasolli opened #7 ""duplicate" field"
Add the "duplicate" field (or something similar) in order to identify the samples that are duplicated in multiple studies

[2017-12-07 19:46] edoardopasolli opened #8 ""LiJ_2014" dataset"
It seems that the "LiJ_2014" overlaps in some way with three other datasets: "LeChatelierE_2013", "NielsenHB_2014", "QinJ_2012".
More curation of the fields "sampleID" and "subjectID" is necessary

[2017-12-07 19:47] edoardopasolli opened #9 ""RampelliS_2015"and "HanniganGD_2017""
RampelliS_2015 and HanniganGD_2017 datasets have the same SampleID, such as: "H10", "H11", etc.
I suggest keeping the original SampleID for RampelliS_2015, and modifying those in HanniganGD_2017 as "HanniganGD_2017_H10"

[2017-12-07 19:48] edoardopasolli opened #10 "subjectID for OhJ_2014"
The subjectID for OhJ_2014 should be capitalized to be consistent with the other datasets, such as "hv07" -> "HV07"

[2017-12-07 19:48] edoardopasolli opened #11 ""disease" in LiJ_2014"
In LiJ_2014 the field "disease" should be "NA" and not "none" to be consistent with the other datasets

[2017-12-17 18:00] edoardopasolli opened #12 "country"
it is missing what values correspond to. For example we should indicate that CAN=CANADA, DNK=Denmark, etc.

[2017-12-18 18:07] lwaldron commented on #12
The description column in `inst/extdata/template.csv` says:

Is the issue more that these descriptions do not make it to `pData` or `combined_metadata`?

[2017-12-18 21:56] edoardopasolli commented on #12
Yes! I was referring to the country field, but the same is true for the other ones

[2017-12-19 01:51] lwaldron commented on #12
@schifferl would you add these descriptions to the metadata of the ExpressionSets and the combined_metadata? For the esets, it's varMetadata(); for example:

[code]

If combined_metadata were a `DataFrame`, it would be in `metadata(combined_metadata)`, but I don't know what the options are for a `tbl_df`. I would probably suggest going the "Bioconductor way" and using a `DataFrame` which has metad

[2017-12-19 15:07] schifferl commented on #12
Ok, I will convert the `combined_metadata` to a `DataFrame` and add the descriptions. I agree too, the metadata should be mentioned in the `?curatedMetagenomicData` man page and perhaps even have it's own man page.

[2017-12-19 19:15] lwaldron commented on #12
I'd say `?curatedMetagenomicData` could just explain what is provided by the important accessors of the `ExpressionSet` objects (`exprs`, `pData`, `varMetadata`, `rownames`, `colnames`), and also mention the other key components of the package: conversion to `phyloseq` and `metagenomeSeq`, and the `combined_metadata` table, with these listed under See Also). Then the metadata can be documented und

[2018-01-03 13:20] lwaldron commented on #8
We will start a duplicates table, rather than changing sampleID and subjectID identifiers.

[2018-01-09 15:31] schifferl opened #13 "Addition of Loomba et al. dataset"
_From @fplaza on December 8, 2017 14:41_

Could you add this dataset http://dx.doi.org/10.1016/j.cmet.2017.04.001 to curatedMetagenomicData?
The SRA files are available here: https://www.ncbi.nlm.nih.gov/bioproject/373901
Thanks

_Copied from original issue: waldronlab/curatedMetagenomicData#119_

[2018-01-09 15:31] schifferl commented on #13
_From @edoardopasolli on December 8, 2017 15:36_

Great dataset, thanks for the suggestion!

[2018-01-09 15:32] schifferl opened #14 "File of duplicate samples"
_From @lwaldron on December 8, 2017 21:49_

@paolinomanghi would you create a spreadsheet of duplicates, perhaps like this?
`study1   sampleID1   study2    sampleID2`

The assignment of "1" and "2" would be significant in that, when the user selects an option like `removeduplicates=TRUE`, the samples in study 2 would by default be the ones removed. I would relegate the smaller study to study 2, un

[2018-01-09 15:32] schifferl commented on #14
_From @paolinomanghi on December 9, 2017 12:30_

Yes, I'm collecting all the necessities and organising them. Want to avoid
any confusion in the future, and any difficulty in handling the whole
dataset.

On Fri, Dec 8, 2017 at 10:49 PM, Levi Waldron <notifications@github.com>
wrote:

[2018-01-09 15:44] schifferl opened #15 "uncurated_author_metadata"
_From @lwaldron on February 3, 2017 17:46_

It is good to have the original, uncurated metadata on hand, to check for variables that weren't included in the curation, or to check for curation errors. In the past I have put this in a final column "uncurated_author_metadata" with entries the following format, and made a function for splitting this into its own dataframe:

`colname1: value///colname2

[2018-01-09 15:44] schifferl commented on #15
_From @lwaldron on February 3, 2017 17:52_

That's the syntax I've used, but looking at it now I think this would be better just _in case_ anyone used a single colon in their column header...

`colname1:::value///colname2:::value///colname3:::value`

[2018-01-09 15:45] schifferl opened #16 "NCBI_accession corresponds to sample_id in place of run_id for HMP samples"
_From @fplaza on December 6, 2017 14:51_

Hello,

In the file _combined_metadata.rda_, the field NCBI_accession corresponds to the sample_id in place of the run_id for HMP samples.

For example:
dataset_name | sampleID | subjectID | NCBI_accession
HMP_2012 | SRS056519 | HMP_2012_765094712 | SRS056519
HMP_2012 | SRS018427 | HMP_2012_160218816 | SRS018427

Should be replaced by:
dataset_name | sampl

[2018-01-09 15:45] schifferl commented on #16
Thank you @fplaza. This applies to all of the HMP metadata?

[2018-01-09 15:45] schifferl commented on #16
_From @edoardopasolli on December 6, 2017 15:37_

Thanks for catching this typo. I see that a similar problem is also affecting the KarlssonFH_2013 and the YuJ_2015 datasets.

@paolinomanghi could you generate the right NCBI_accession for these three datasets?

[2018-01-09 15:45] schifferl commented on #16
_From @fplaza on December 6, 2017 15:57_

@schifferl
Yes, all the HMP samples are concerned.

[2018-01-09 15:45] schifferl opened #17 "adding curator"
_From @edoardopasolli on December 7, 2017 10:19_

since we are going to rebuild the package by fixing a few bugs in the metadata (as reported in another open issue), should we added the "curator" field? if yes, how we name it? and whick kind of information do we want to put (such as first+last name, email, etc.)?

_Copied from original issue: waldronlab/curatedMetagenomicData#117_

[2018-01-09 15:46] schifferl opened #18 "explaining "study_condition" and "disease" fields"
_From @edoardopasolli on December 7, 2017 19:50_

An external user may have some difficulties in understanding how we defined the "study_condition" and "disease" fields. Should we clarify this aspect better somewhere?

_Copied from original issue: waldronlab/curatedMetagenomicData#118_

[2018-01-09 15:46] schifferl commented on #18
_From @lwaldron on December 8, 2017 21:30_

I think the canonical location for variable documentation is in the "Description" column of https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/inst/extdata/template.csv. If you would add this @edoardopasolli (and check the adequacy of the rest of the descriptions), then we'll convert this issue to one for @schifferl to parse this fi

[2018-01-09 15:51] schifferl opened #19 "putative error in metadata for QinJ_2012"
_From @karchern on October 18, 2017 9:52_

Hi Guys,

In the metadata for QinJ_2012, the subject "CON-103" is listed 5 times (with different sample IDs, of course). I believe this is an error, as to my knowledge the study did not have any sort of time series / mutliple sampling.

Cheers!

_Copied from original issue: waldronlab/curatedMetagenomicData#107_

[2018-01-09 15:51] schifferl commented on #19
Thanks, nick! Edo and I will look into it and provide corrected metadata.

[2018-01-09 15:51] schifferl commented on #19
_From @paolinomanghi on December 6, 2017 15:56_

Ok, sto operando

On Wed, Dec 6, 2017 at 4:41 PM, edoardopasolli <notifications@github.com>
wrote:

[2018-01-09 16:08] lwaldron commented on #15
@edoardopasolli @paolinomanghi I understand from you that this may not be practical as proposed, but there should be *some* sort of provenance to the original, uncurated metadata. Otherwise the assumption will be that it all comes from SRA. Even just a link to collected uncurated files collected in one place would be OK, better than nothing.

[2018-01-10 10:42] lwaldron commented on #1
This issue is replaced by specific curation issues.

[2018-01-10 10:42] #1 closed

[2018-01-10 10:54] lwaldron commented on #10
Does this mean changing changing the subject identifiers used by the original studies? In general I favor leaving those as-is, unless there is a compelling reason to change them. What is the reason for standardizing subject identifiers?

[2018-01-10 10:56] lwaldron commented on #14
A note from issue #8, which I will close as a duplicate:

[2018-01-10 10:57] lwaldron commented on #8
Duplicate of #14

[2018-01-10 10:57] #8 closed

[2018-01-10 10:57] lwaldron commented on #7
Duplicate of #14

[2018-01-10 10:57] #7 closed

[2018-01-10 10:59] lwaldron commented on #4
@schifferl I assume this is occurring in the R pipeline - can you identify why?

[2018-01-10 10:59] paolinomanghi commented on #14
Yes, it's just that I need to correct the metadata before compiling a good
duplicate table, or at least this was the idea.

On Wed, Jan 10, 2018 at 11:56 AM, Levi Waldron <notifications@github.com>
wrote:

[2018-01-10 15:10] #3 closed

[2018-01-10 15:22] schifferl commented on #4
@lwaldron I had another look at the `template.csv` file and some of the curation files, as well as the `R` pipeline – the cause of this issue is not readily apparent. I think it is likely due to changes that have happened over time and would be resolved in running the entire pipeline again. @edoardopasolli is there a specific dataset you are referring to?

[2018-01-10 15:39] edoardopasolli commented on #4
most of the datasets are currently affected by this problem

[2018-01-18 18:19] schifferl commented on #11
closed by 8a86b36

[2018-01-18 18:56] schifferl commented on #4
Since this is not a curation issue and has no identifiable cause I am going to close the issue. I know it is still an issue but it will be resolved with a unit test that checks the final data in the package against the curated metadata here (https://github.com/waldronlab/curatedMetagenomicData/issues/109).

[2018-01-18 19:32] schifferl commented on #12
This issue was moved to waldronlab/curatedMetagenomicDataPipeline#2

[2018-01-18 19:32] #12 closed

[2018-03-06 11:19] edoardopasolli commented on #4
"number_bases" and "median_read_length" fields have been fixed for all datasets. this issue can be closed definitevely.

[2018-03-06 11:20] #4 closed

[2018-03-06 11:20] edoardopasolli commented on #5
PMID added to TettAJ_2016.

[2018-03-06 11:21] #5 closed

[2018-03-06 11:21] edoardopasolli commented on #9
subjectID in HanniganGD_2017 has been fixed

[2018-03-06 11:21] #9 closed

[2018-03-06 11:22] edoardopasolli commented on #10
subjectID fields in OhJ_2014 have been fixed

[2018-03-06 11:22] #10 closed

[2018-03-06 11:23] edoardopasolli commented on #11
"disease" fields fixed in LiJ_2014

[2018-03-06 11:23] #11 closed

[2018-03-06 11:24] edoardopasolli commented on #16
The issue has been fixed

[2018-03-06 11:24] #16 closed

[2018-03-06 11:25] edoardopasolli commented on #19
The issue has been solved

[2018-03-06 11:25] #19 closed

[2018-03-06 11:26] edoardopasolli commented on #6
"NCBI_accession" fields have been fixed for all the mentioned datasets. The issue can be closed.

[2018-03-06 11:26] #6 closed

[2018-03-06 11:27] edoardopasolli commented on #17
"curator" has been added in the template and in the metadata files

[2018-03-06 11:27] #17 closed

[2018-03-07 22:46] lwaldron opened #20 "data dictionary"
Create a formal data dictionary as a table with the following columns:
1. variable name
2. definition of variable (from template.csv "description")
3. variable value
4. definition of variable value
5. link to ontological term (look on https://www.ebi.ac.uk/ols/index)

Key variables to find ontological terms for. Make sure the terms for each variable come from a **single** ontology:
* body_site, bo

[2018-03-14 10:55] lwaldron opened #45 "curation of new datasets"
The first step in adding new datasets to curatedMetagenomicData is curation, which involves recording information about the study and specimens using a controlled vocabulary. We use a formalized curation system described and implemented at https://github.com/waldronlab/curatedMetagenomicDataCuration. There is a [list of datasets planned for inclusion](https://waldronlab.github.io/curatedMetagenomi

[2018-05-09 13:12] edoardopasolli opened #21 "HMP_2012"
the field "body_site" is wrong for few samples, which were wrongly attributed to the "oralcavity":
- all samples having "body_subsite"="anterior_nares" should have "body_site"="nasalcavity"
- all samples having "body_subsite"="posterior_fornix" should have "body_site"="vagina"

[2018-05-23 12:32] edoardopasolli commented on #21
metadata fixed

[2018-05-23 12:32] #21 closed

[2018-06-05 20:00] schifferl opened #22 "Add publication title to `combined_metadata`"
_From @lwaldron on June 2, 2018 21:40_

Not sure exactly where I should create this issue, but will it be an easy addition to make some essential study information from PubMed (in particular, title) available in `combined_metadata` to be use in a mouse-over in the Shiny app? I see titles are in the help pages and experimentData of the ExpressionSet, but are they anywhere else accessible from withi

[2018-06-05 20:00] schifferl commented on #22
Easily done. I think this issue best fits in the curation repo, moving it there.

[2018-06-19 14:38] lwaldron opened #23 "ensure valid dataset names"
Should be valid R names (characters, numbers, _, "-", and . only). Create a more specific regex that matches our current naming convention.

[2018-06-27 14:49] schifferl opened #24 "SRA Automation Specification"
## Overview

The `curatedMetagenomicData` package derives all of its sequencing data from the NCBI Sequence Read Archive (SRA) and combines this information with curated study/sample metadata. Currently, sequencing data is obtained manually from SRA identifiers and we wish to automate the process. From a BioProject ID it is possible to obtain all SRA run identifiers from a study (i.e. SRR identifi

[2018-06-27 14:51] schifferl opened #25 "PubMed Class Specification"
## Overview

Write a method to obtain citation information from PubMed using the `RISmed` package. The method, `PubMed`, should return a `list` of three `data.frame` objects containing citation information. Provided with only a `PMID` the method should return the tables shown below.

An example of what a call to the `PubMed` method should look like:

[code]

## Components

### Journal Information

[2018-07-25 15:52] lwaldron opened #26 "Map template to formal ontologies"
Especially body site & subsite, but any in the [template](https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/inst/extdata/template.csv) that can be mapped. Also see http://bioconductor.org/packages/release/bioc/html/ontoProc.html.

[2018-10-02 12:14] kevinVervier opened #29 "BMI in WenC_2017_metadata.tsv"
Hi,
First of all, thank you for the amazing curation job you are doing here!
I found the BMI column in WenC_2017_metadata.tsv might have an issue with very high values (probably some decimal missing).
Cheers,
Kevin Vervier

[2018-10-02 13:13] MarisaIsabell commented on #29
Hi.
thank you for reporting this issue!
I changed the BMI to the correct values by considering the original metadata from the study.

best regards
Marisa Metzger

[2018-10-02 13:14] #29 closed

[2018-10-03 15:18] lwaldron commented on #29
@cmirzayi will you make sure to take this corrected version in your next re-build of the package?

[2019-02-01 15:52] edoardopasolli commented on #13
The dataset has been included in cMD. I can close this issue.

[2019-02-01 15:52] #13 closed

[2019-02-19 00:23] schifferl opened #30 "HMP2012: posterior fornix samples are incorrectly tagged as oral cavity"
_From @fplaza on February 11, 2019 8:25_

Hello,
posterior_fornix samples in the HMP_2012 are incorrectly tagged as 'oralcavity' whereas they should be as 'vagina'.
Could you fix this?

_Copied from original issue: waldronlab/curatedMetagenomicData#153_

[2019-02-19 00:23] schifferl commented on #30
_From @edoardopasolli on February 11, 2019 8:34_

Thanks! Yes we were aware of this. It will be fixed in the next release.

[2019-02-19 01:29] lwaldron commented on #30
This curation error was fixed in 696ba151ac32fade02991e9a90cd4adaa6ecb200 and no longer exists in dataset names, `pData`, or man pages, just in `combined_metadata`. So I'll close the issue here and leave it open at https://github.com/waldronlab/curatedMetagenomicData/issues/153

[2019-02-19 01:29] #30 closed

[2019-09-30 03:13] morganx opened #33 "A tiny little curation typo"
The field "study_condition" for Vatanen2016 contains both "pyelonefritis" (2 samples) and "pyelonephritis" (6 samples). You probably meant "pyelonephritis" for both?

[2019-09-30 21:52] morganx opened #31 "References updated in next update?"
References for Thomas AM 2018a & 2018b are currently missing from the reference manual. I presume one of them is PMID 30936548 & you're probably planning to include in next update but reminder not to forget :) Thanks.

[2019-10-02 09:22] lwaldron commented on #31
Any chance you can still get this into the Bioc 3.10 release @schifferl?

[2019-10-08 12:27] edoardopasolli opened #32 "Typo in Heitz-BuschartA_2016"
There is a typo in the dataset name of "Heitz-BuschartA_2016", which should be "Heintz-BuschartA_2016"

[2019-10-09 09:38] lwaldron commented on #32
This is an annoying error - since it's already been released, the wrong dataset name should go through the deprecation process. @schifferl are you up for it?

[2019-10-09 09:40] lwaldron commented on #31
pinging about this @schifferl - let me know if you need help with the maintenance.

[2019-10-09 12:06] schifferl commented on #31
Hi @lwaldron, I can get to this tomorrow – I will send you an update and close the issue when it's done.

[2019-10-09 12:08] schifferl commented on #32
I will take a look tomorrow and see what I can do to fix the problem (i.e. start the deprecation process).

[2019-10-28 02:20] schifferl commented on #33
I've moved this issue to the curation repo, where it was closed by 7474b2b901851ffbfa01613b92ca525b4f46f006. It won't make the next release because that requires reprocessing the data set but will be rectified in the Bioconductor devel branch shortly.

[2019-10-28 02:20] #33 closed

[2019-10-28 02:23] schifferl commented on #31
Hello again, I haven't got this one done quite yet and can't seem to find the other PMID quickly. When you have a chance, could you add these @paolinomanghi? Then I will get this updated quickly in the devel branch of Bioconductor.

[2019-10-28 02:25] schifferl commented on #32
This requires an entire reprocessing of the data set, I've added this on Trello and will have it added to the devel branch of Bioconductor shortly.

[2019-10-28 09:33] #31 closed

[2019-10-28 12:22] lwaldron commented on #31
This was closed via 92e6f69

[2020-04-13 15:37] lwaldron commented on #24
Update: better to use omicidx API directly, for example for Asnicar (Bioproject accession [PRJNA339914](https://www.ncbi.nlm.nih.gov//bioproject/PRJNA339914)), the **Study** ID is [SRP082656](https://trace.ncbi.nlm.nih.gov/Traces/sra/?study=SRP082656) (see https://www.ncbi.nlm.nih.gov/books/NBK56913/ for explanation of accession ID types)

https://api.omicidx.cancerdatasci.org/sra/studies/SRP08265

[2020-04-21 17:08] lwaldron commented on #24
Look at [AsnicarF_2017](https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/inst/curated/AsnicarF_2017/AsnicarF_2017_metadata.tsv) (example with two body sites) and
[BritoIL_2016](https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/inst/curated/BritoIL_2016/BritoIL_2016_metadata.tsv) (example with multiple SRR accessions per sample). The "NCBI_accession" c

[2020-05-08 15:02] cmirzayi commented on #24
An initial version of this function has been added in https://github.com/waldronlab/curatedMetagenomicDataCuration/commit/f7dffac9a8631bafd85c41f7eb0b852cb786c03c. Currently it uses an SRP and returns the following:

- Associated sample IDs
- Associated run IDS (as separate rows--not semicolon-delimited yet due to varying number_reads across different runs--which do I use? An average?)
- Sequencin

[2020-05-08 18:54] cmirzayi commented on #25
I'm turning my attention to this next.

[2020-05-10 10:24] lwaldron commented on #24
This is great @cmirzayi! A few code suggestions, but this already looks ready to use.
1. Add roxygen2 markup to R/get_metadata.R. RStudio has a helper for creating the template for you. With roxygen2 you can:
     - use directives like `#' @importFrom jsonlite fromJSON` to specify which functions you import from which packages. This isn't strictly necessary since you use `::` (which I like), but t

[2020-05-13 16:43] cmirzayi commented on #24
These changes have been made in https://github.com/waldronlab/curatedMetagenomicDataCuration/commit/fc2a4d71b3a6fbf01099de7acc4482cb1239d831

[2020-05-13 16:47] cmirzayi commented on #25
Added in https://github.com/waldronlab/curatedMetagenomicDataCuration/commit/fc2a4d71b3a6fbf01099de7acc4482cb1239d831

`PubMed()` and PubMed class S4 objects are now added. There are some outstanding issues to be resolved:

1. Associating affiliations with authors seems to be difficult if not impossible using `RISmed`. It seems to just return a list of all affiliations with no easy way to associat

[2021-01-04 14:16] lwaldron commented on #32
I don't think we have anyone with the bandwidth to do this, so I think this name will have to be considered a feature rather than a bug. @schifferl please open again if you think you can handle as part of the release of cMD3.

[2021-01-04 14:16] #32 closed

[2021-01-04 14:27] lwaldron commented on #26
@ftzohra22 would you do this? It would just be a two-column spreadsheet of mappings different grammar.

[2021-01-04 14:30] lwaldron commented on #24
Works well, closing.

[2021-01-04 14:30] #24 closed

[2021-01-04 14:31] lwaldron commented on #25
Works well enough, closing.

[2021-01-04 14:31] #25 closed

[2021-01-04 14:32] lwaldron commented on #20
Should be done along with #26 . @ftzohra22

[2021-01-04 15:28] lwaldron commented on #18
* `study_condition` is always one word, and is the label for this participant for the purposes of the analysis this study was designed around. In case-control studies, the controls are labeled "control". In studies without a contrast, all participants are labeled "control".  Currently, in non-case-control studies (including exposure-control such as diets or lifestyles, or dose-response studies suc

[2021-01-04 15:29] lwaldron commented on #20
See field definitions on issue #18.

[2021-01-04 15:30] lwaldron commented on #22
Can be looked up from PMID, so closing.

[2021-01-04 15:30] #22 closed

[2021-01-04 15:50] lwaldron commented on #2
@paolinomanghi @edoardopasolli where should there be a "warning" option in the template? If it is added we can use it.

[2021-01-04 16:06] edoardopasolli commented on #2
I would put it in:
antibiotics_current_use
disease
study_condition
age_category
gender
country
non_westernized
These are "optional" fields, but I think a curator should be able to get them in most of the cases

[2021-01-04 16:12] paolinomanghi commented on #2
I would use as a mandatory also
- subject ID
- the number of reads
- the number of bases
- the type of sequencing machine (not really the 2000/4000, just the type,
as it is now)

I'd rather not consider sex (gender) as mandatory because is not guaranteed
to have it (some modern policies prefer not to deploy it, see the latest
Zeharnakova paper),
also when other nice metadata are available. Instead

[2021-01-13 16:52] lwaldron opened #34 "syntax checking results not updating"
Reported by @paolinomanghi. I should take this excuse to start using GHA.

[2021-01-18 14:21] lwaldron commented on #34
Now fixed as of 3cf620c

[2021-01-18 14:21] #34 closed

[2021-01-18 14:59] lwaldron opened #35 "fix build badge"
not using travis anymore

[2021-01-18 15:00] lwaldron commented on #2
Call this "recommended" instead.

[2021-03-03 15:41] lwaldron opened #36 "Create a function that returns merged metadata"
1. When the package is installed, curation .tsv files will be listable using (this is approximate):
[code]
Use this to create a vector of the paths to all curation tsv files.

2. read all of these using lapply and read.table or a function from the readr package, to create a list of data.frames. Test the read command using a single tsv file.
[code]

3. Use [curatedMetagenomicData::joinListofDFs](ht

[2021-03-03 15:43] lwaldron commented on #26
Add ontology map to `inst/extdata` on GitHub

[2021-03-09 13:56] lwaldron opened #37 "Create a function that lists available curated metadata file names or file paths"
Use `list.files(system.file("curated", package = "curatedMetagenomicDataCuration"), recursive = TRUE, pattern = "\\.tsv$")` for list of file names, use these as study names.

[2021-03-09 13:57] lwaldron opened #38 "Create function to load a curated metadata file by study name"
Use output of #37 as input

[2021-03-09 14:02] lwaldron opened #39 "Create function to add ontology columns to metadata table"
metadata table is loaded by #38, then output would look like https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/inst/extdata/Updated%20template.csv

[2021-03-12 11:39] lwaldron opened #42 "Additional metadata for Arumugam/Yu 2015, Hannigan 2018"
From: Muhammad Alsayid <Muhammad_Alsayid@rush.edu>
Date: Thursday, March 11, 2021 at 4:58 PM
To: Levi Waldron <Levi.Waldron@sph.cuny.edu>
Cc: Shirin Moossavi <shirin.moossavi@ucalgary.ca>
Subject: Re: Curated Metagenomic Data question

Dear Dr. Waldron,

I contacted the authors of 3 studies and 2 of them provided me with the metadata of their studies including age.

I attached the files I received

[2021-03-12 11:40] lwaldron commented on #42
From @paolinomanghi:

Hi Levi,
these are quite good (even tough we already added several metadata to the cohorts they guy mention, they will be available in next release). However I didn't have LDL & HDL levels, which is pretty good.
I need to add them.

I'm just concerned about the sample IDs which are not exactly the one we took from NCBI, so it might be difficult.
I'm also confused about what i

[2021-03-12 11:45] lwaldron commented on #42
I think these correspond to:
* https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/inst/curated/YuJ_2015/YuJ_2015_metadata.tsv
* https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/inst/curated/HanniganGD_2017/HanniganGD_2017_metadata.tsv

[2021-03-12 15:54] lwaldron opened #43 "make sure get_metadata() supports all studies"
https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/d084b1e3e033ca201e5ccc27b7b8af20163357cc/R/get_metadata.R#L22

Benchmark against all the tsv files in the repo.

[2021-03-12 17:06] lwaldron commented on #37
Do in #36

[2021-03-12 17:06] #37 closed

[2021-03-12 17:07] lwaldron commented on #38
Do in #36

[2021-03-12 17:07] #38 closed

[2021-03-12 17:53] cmirzayi commented on #36
Added with https://github.com/waldronlab/curatedMetagenomicDataCuration/commit/751b0aaae0aec664e6529df8503ba0691b5d6092

[2021-03-12 17:53] #36 closed

[2021-03-12 17:57] lwaldron opened #44 "write data/combined_metadata.rda"
1. Use the [makeCombinedMetadata](https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/751b0aaae0aec664e6529df8503ba0691b5d6092/R/makeCombinedMetadata.R#L5) now in this package
2. Call this function in the GitHub Action, use `save(compression_level="bzip2")` to write to data/combined_metadata.rda, and push back to this repo

[2021-03-15 17:09] jwokaty commented on #44
@cmirzayi How should I call your function? I get the following when I try calling your function:

[code]

Is there a way to call it such that it recognizes the '.' prefixed functions?

[2021-03-15 17:24] cmirzayi commented on #44
Whoops @jwokaty it should be fixed now.

[2021-03-16 19:46] lwaldron commented on #44
There should be no more action necessary here, see https://github.com/waldronlab/curatedMetagenomicData/issues/174. Will close for now.

BTW @cmirzayi it's useful to reference the hash of the commit of the fix, to make it easier to see how you did it, e.g.: 18c504cdc1b331ecfa58776cc3e195512c8c251e

[2021-03-16 19:46] #44 closed

[2021-03-19 19:28] cmirzayi commented on #43
Progress has been made on this front. I heavily revised `get_metadata` in edd8e61a5b1987cf3e7bf22ab1f663a3d9b80901.

I will benchmark against all tsvs and then close this issue.

[2021-03-29 18:37] paolinomanghi commented on #42
Dear Muhammad,
thank you for your valuable contribution. I added your precious metadata to the YuJ-2015 study. They were great. The idea behind this package is exactly to sort out many clinical data tables like the ones you prepared. I didn't add anything to the Hannigan 2017 study because the info you provided were already included in the plan for the next release, but thanks the same.

If you do

[2021-03-29 18:37] #42 closed

[2021-04-01 20:47] jwokaty opened #46 "Combined Metadata Warnings"
When creating combined_metadata, I get the following warnings:

[code]

Calling checkCuration on it, I get another warning:

[code]

While looking at combined_metadata, I noticed a large chunk of text with tab separated values and wanted to include it here in case this was also an issue:

[code]

[2021-04-02 14:05] cmirzayi commented on #43
Tested and works on all studies current in the repo.

[2021-04-02 14:05] #43 closed

[2021-04-02 15:21] lwaldron commented on #35
Travis removed, but GHA is erroring for not finding waldronlab/omicidxClientR

[2021-04-02 19:30] lwaldron commented on #46
Thanks @jwokaty.  @paolinomanghi, we should touch base next week about metadata cleanup, and enlist some additional help if needed to fix everything that's due to be released in cMD 3.0. I see some other issues on the gh-pages site too (https://waldronlab.io/curatedMetagenomicDataCuration).

[2021-04-02 22:03] paolinomanghi commented on #46
The errors appear because I merged the pull request you asked me to merge.
I told you there would have been several errors. I suggest to delete these
files for now, as including them in the current release would mean restart
the manuscript from scratch.

On Fri, Apr 2, 2021 at 9:30 PM Levi Waldron ***@***.***>
wrote:

[2021-04-03 16:57] lwaldron commented on #46
@paolinomanghi you shouldn't update your analysis and these don't have to be merged immediately, I just didn't want the PRs going stale. I put these files in a new branch https://github.com/waldronlab/curatedMetagenomicDataCuration/tree/smk508 only, which can be merged after fixing syntax. @jwokaty is this issue resolved now with these files gone?

[2021-04-03 16:58] lwaldron commented on #46
Yes it looks like the GHA is passing again, so I will close (open again if I'm wrong). Closed by 78bb441ede2b1682f8417529bd1c5b830d0714ba

[2021-04-03 17:00] lwaldron opened #47 "Merge smk508 branch"
after fixing syntax errors. See https://github.com/waldronlab/curatedMetagenomicDataCuration/tree/smk508.

[2021-04-03 17:02] lwaldron commented on #46
Actually maybe I was premature since GHA was passing after these merges too. @jwokaty is the problem still here?

https://github.com/waldronlab/curatedMetagenomicDataCuration/actions/runs/712129628

[2021-04-05 14:06] jwokaty commented on #46
The problems still exist. I see them with https://github.com/waldronlab/curatedMetagenomicData/runs/2258353419?check_suite_focus=true#step:5:52 when creating and checking the curation. I want to try to look at these a little more to see why the warnings are happening.

The third issue appears to be from ZhuF_2020. There's one Xian with an apostrophe https://github.com/waldronlab/curatedMetagenomic

[2021-04-05 15:09] jwokaty commented on #46
Removing the apostrophe from ZhuF_2020_metadata.tsv will avoid the warnings when calling makeCombinedMetadata().

For the second issue, "dataset_name" isn't in [/inst/extdata/template.csv](https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/inst/extdata/template.csv). It gets prepended in makeCombinedMetadata(). Should it be added to template.csv?

[2021-04-05 19:48] paolinomanghi commented on #46
Thanks, @jwokaty. I substituted Xi'an with Xi_an (I guess is a different
place wrt Xian).

On Mon, Apr 5, 2021 at 5:10 PM jwokaty ***@***.***> wrote:

[2021-04-07 19:30] #46 closed

[2021-04-21 10:49] jwokaty opened #49 "studyName or dataset_name"
When generating the curation in cMD, the first column is called studyName. If you generate it in cMDC, it's called dataset_name, which is what checkCuration expects according to [inst/extdata/template.csv(https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/inst/extdata/template.csv). Should we rename dataset_name to studyName?

[2021-04-21 11:32] lwaldron commented on #49
It was `dataset_name` before and I don't see a compelling reason to change it, so I think we should keep it that way. The necessary breaking changes from moving to SummarizedExperiment and making defunct the old per-dataset functions will already be painful enough for our user base without making changes that aren't really necessary.

[2021-04-21 11:33] lwaldron commented on #49
I think I already convinced @schifferl of the same for `combined_metadata`, so would you go ahead and make the same change for `dataset_name`, @jwokaty?

[2021-04-21 20:26] cmirzayi opened #51 "Cleanup/rename antibiotics_family column in combined metadata table"
**Is your feature request related to a problem? Please describe.**
The `antibiotics_family` column in the combined metadata table contains information on medications and treatments that are not antibiotics (antivirals, beta blockers, blood pressure meds, diabetes meds, etc.). While it's not an issue to filter these non-antibiotic treatments out myself, this could potentially cause confusion for us

[2021-04-21 21:06] cmirzayi opened #50 "PMID for VatanenT_2016 is incorrect"
It's 27259157 in cMD which appears to be an erratum (https://pubmed.ncbi.nlm.nih.gov/27259157/) to the original article PMID 27133167 (https://pubmed.ncbi.nlm.nih.gov/27133167/).

[2021-04-22 06:51] lwaldron commented on #51
@cmirzayi would you be willing to split medications and antibiotics_family into separate columns? I think the issue is unawareness of curators about what these medications are, so your help would be valuable. @paolinomanghi FYI.

[2021-04-22 08:55] paolinomanghi commented on #51
Should I correct all the metadata tables singularly? Is not big deal, for
me.

On Thu, Apr 22, 2021 at 8:51 AM Levi Waldron ***@***.***>
wrote:

[2021-04-23 11:43] lwaldron commented on #51
Yes, in each metadata table individually. I hope it's not too much of a
burden or can be done with scripts.

[2021-04-23 11:52] paolinomanghi commented on #51
No it can be done easily.

On Fri, Apr 23, 2021 at 1:43 PM Levi Waldron ***@***.***>
wrote:

[2021-04-24 04:32] lwaldron commented on #51
thanks @paolinomanghi. You should work with with @cmirzayi who is studying antibiotics specifically and can help to get it right.

[2021-04-29 11:34] schifferl opened #53 "add col.class column"
Long ago there was a `col.class` column in the `template.csv` file and it would make importing the curated metadata far easier in the R package if we brought it back. The `col.class` column would describe the type of variable represented in each row. For example:

| col.name          | col.class | uniqueness | requiredness | multiplevalues | allowedvalues                                    | ... |

[2021-04-29 11:37] schifferl opened #54 "change col.name variables"
To improve consistency in naming of variables across all parts of the pipeline and APIs we should make the following changes to the template (and curated files).

**Current Name -> New Name**
dataset_name -> study_name
sampleID -> sample_id
subjectID -> subject_id

Currently, study_name is not present in curated files and I generate it in the R package – it should be added to them.

[2021-04-29 11:39] schifferl opened #55 "change PMID specifications"
The current PMID specification is almost right but the `unpublished` values creates a few issues for me in the R package, it would be better if these were just blank. The following changes to the template (and curated files) would be helpful.

requiredness:
optional

allowedvalues:
[0-9]{8}|unpublished -> [0-9]{8}

[2021-04-29 11:56] paolinomanghi commented on #55
I have allowed NA instead of unpublished, and I have amended the two datasets for which the table said unpublished. I'm closing this

[2021-04-29 11:56] #55 closed

[2021-04-29 12:00] #50 closed

[2021-04-29 12:17] paolinomanghi commented on #53
Please, have a look now.

[2021-04-29 14:49] paolinomanghi commented on #54
I changed the columns. I also changed the dataset_name to study_name. I wouldn't add the dataset name to the tables: it would be
a) the same name of the table without "_metadata.tsv"
b) a different name, generating a relevant confusion, possibly

what do you think?

[2021-04-29 15:04] #53 closed

[2021-04-29 19:20] jwokaty commented on #54
I'm making this note here since this issue is not yet closed, but I can create new issues.

"dataset_name" gets added when using [makeCombinedMetadata](https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/R/makeCombinedMetadata.R) to construct combined_metadata and that [checkCuration](https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/R/checkCuration.R) u

[2021-04-30 08:31] paolinomanghi commented on #54
Ok. It's not clear to me indeed if we can close this issue or not (as now the template.csv has study_name). Please, close if you think it can be closed

[2021-05-06 02:59] schifferl commented on #54
Thank you for making the changes @paolinomanghi, the reading in is now easier for me. From above, I am doing as you say in choice `a)`, but it would be just the same to do it here. Go ahead, and do that if it is easy enough for you. The variable `study_name` would be the table name without "_metadata.tsv". The issues raised by @jwokaty are good points too, but we don't need `makeCombinedMetadata`

[2021-05-06 03:09] schifferl opened #56 "trailing decimal zero in a few variables"
There are values like `2.0` instead of just `2` in a number to the curated files for variables that are specified as integers by `col.class` which turn into parsing errors when I read them in with R in the cMD package. Here's a short list of the variables I've identified:

- `age`
- `infant_age`
- `days_from_first_collection`
- `median_read_length`
- `minimum_read_length`
- `days_after_onset`
- `n

[2021-05-06 11:35] paolinomanghi commented on #54
So, just to be clear: I don't modify the tables but I do switch from dataset_name to study_name in the grammar?

[2021-05-06 20:43] schifferl commented on #54
Hi @paolinomanghi, I think change the grammar *and* change the tables. This keeps one more step in the curation repo, where it seems to fit.

[2021-05-07 10:04] paolinomanghi commented on #54
I've pushed the changes plus some other very little corrections to the tables. I'm closing this right now.

[2021-05-07 10:04] #54 closed

[2021-05-07 10:32] paolinomanghi commented on #15
Hi, I can add the raw metadata for most of the datasets, even if not for all. A major point besides is that many effective raw-metadata tables come from a paper which is not the one of the dataset. So, if I add these tables, there will be some sort of "manual handling" also in those. Shall we proceed?

[2021-05-07 10:40] paolinomanghi commented on #56
Closing this issue.

[2021-05-07 10:40] #56 closed

[2021-05-09 18:12] schifferl commented on #56
I think maybe some changes weren't pushed (or something like that), but I fixed this with 274e795.

[2021-08-13 15:58] luzhang321 opened #57 "CosteaPI_2017 disease status, healthy?"
Hi :)
Recently I was using the sampleMetadata(curatedMetagenomicData 3.0.1). This metadata is really helping a lot.
1. Since it is already manually curated, can I directly use the metadata collected for my research?

2. I was confused with this dataset: CosteaPI_2017.

The paper refers to "Subspecies in the global human gut microbiome".

In their paper, they report "298 newly generated ones (Table

[2021-08-18 09:55] lwaldron commented on #57
But curatedMetagenomicData contains software + data, and the `sampleMetadata` object is a part of curatedMetagenomicData, and not the curation repo. Not having an open issue on curatedMetagenomicData has the effect of obscuring an open issue from users of the package, and removes the public check and communication that this fix is actually merged into curatedMetagenomicData, defeating a couple of

[2021-09-29 09:22] luzhang321 opened #58 "XieH_2016 data, data accession number differ & disease status confused"
Hi

Sorry to bother you.
I am confused with XieH_2016 dataset. In its related paper: "Shotgun Metagenomics of 250 Adult Twins Reveals Genetic and Environmental Impacts on the Gut Microbiome".
It is mentioned "
DATA AND SOFTWARE AVAILABILITY
The accession number for metagenomic shotgun sequencing data for all 250 samples after removal of human sequences reported in this paper is European Bioinforma

[2021-10-06 07:57] qifei9 opened #59 "KarlssonFH_2013: Nothing has been found for accessions"
In study `KarlssonFH_2013`, samples `S60` and `S602` have NCBI accessions `ERR260212` and `ERR260213` respectively. However, nothing can be found for these 2 accessions in NCBI.

[2021-10-06 08:07] qifei9 opened #60 "QinN_2014: duplicate accession"
In study `QinN_2014`, the sample `HD-1` has NCBI accession of `ERR528329;ERR528329;ERR526291` where the first 2 accessions are identical.

[2021-10-28 11:08] luzhang321 opened #61 "SmitsSA_2017 sample info doesn't match supp.table"
Hi :)

SmitsSA_2017 data has 40 samples recorded(sample information matched with ena (https://www.ebi.ac.uk/ena/browser/view/PRJNA392180?show=reads).
Data is from the paper: Seasonal cycling in the gut microbiome of the Hadza hunter-gatherers of Tanzania.
In their supp.table1 ( filtered metagenomic = yes ), only 35 samples are recorded.
In all,

1. 32 are overlapped with supp.table. 3 samples are

[2021-10-30 16:34] luzhang321 opened #62 "duplicate samples in NielsenHB_2014 & LeChatelierE_2013"
Hi :)

The duplicate samples are also mentioned in previous issues. https://github.com/waldronlab/curatedMetagenomicDataCuration/issues/14
https://github.com/waldronlab/curatedMetagenomicDataCuration/issues/8

But I couldn't find the duplicate tables you mentioned in the above issues.

For example, in NielsenHB_2014 and LeChatelierE_2013, MH0001
![image](https://user-images.githubusercontent.com/4

[2021-11-07 10:49] luzhang321 opened #63 "why in CosteaPI_2017 some samples only single end?"
Hi :)

I fina a difference between ena file and sampleMetadata file in CosteaPI_2017

Here is the example from sample :  713A002-11-0-0
grep 713A002-11-0-0 CosteaPI_2017_KAZ* |less -S |cut -f 1-4,21
CosteaPI_2017   SID713A002-11-0-0       KAZ1    stool   ERR1728788;ERR1728787;ERR1728786;ERR1728785

there are only 4 ERRs recorded here. and all of them are single-end.

However when I look into the e

[2021-12-17 14:10] CraigGin opened #64 "Control sample mislabeled as CRC in YuJ_2015 dataset"
**Describe the bug**
I have been working with your CRC datasets and noticed that there are 75 samples with the study_condition labeled as "CRC" and 53 samples labeled as "control" in the YuJ_2015 dataset. This is in contrast to the published article which claims 74 CRC patients and 54 controls in their C1 cohort. By cross-referencing with other data sources, I was able to identify that the sample

[2021-12-17 15:17] schifferl commented on #64
Hi @CraigGin, I've transferred your issue to curatedMetagenomicDataCuration and @paolinomanghi will look into resolving the mislabeling. Once that happens the change will propagate the package automatically.

[2021-12-17 15:21] CraigGin commented on #64
Great, thanks

[2022-01-14 22:58] sdgamboa opened #65 "age doesn't correspond to age_category in some samples"
Some samples are annotated with an age that doesn't correspond to their age_category. For example, one sample is labeled as "newborn" and has an age of 19.

Reprex:

[code]

![](https://i.imgur.com/KN5CmB5.png)

[code]

<sup>Created on 2022-01-14 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-02-23 18:36] hjruscheweyh commented on #63
Dear @luzhang321

have you solved this issue? I'm also trying to work with this dataset and also run into the same issue with runs missing. There are 1122 Paired-end runs in the Bioproject but only ~400 are recorded in CosteaPI_2017. It seems that there are run files missing.

The reason why there is also Single end files is because the reads were processed with MOCAT which uses paired-end reads a

[2022-02-24 16:26] lwaldron commented on #63
@paolinomanghi can you comment? The relevant curation file is https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/inst/curated/CosteaPI_2017/CosteaPI_2017_metadata.tsv

[2022-02-28 07:22] hjruscheweyh commented on #63
Hi All

I have created an updated mapping file between samples and runs that uses all paired-end runs (but excludes the singleton files).

Keep in mind that some runs are tagged as paired but when downloaded/extracted using the sra toolkit they become single-end (no clue why). See below for accessions:
[code]

My mapping file between samples and runs is below:

[CosteaPI_2017.txt](https://github.c

[2022-03-22 13:56] lwaldron commented on #47
This was merged long ago in fd55bcc - @paolinomanghi remember to close the issue when resolving.

[2022-03-22 13:56] #47 closed

[2022-03-28 13:43] lwaldron commented on #64
Pinging @paolinomanghi - would be great to fix this before the Bioconductor 3.15 release.

[2022-03-28 13:43] lwaldron commented on #65
Pinging @paolinomanghi - would be great to fix this before the Bioconductor 3.15 release.

[2022-03-28 13:44] lwaldron commented on #63
Pinging @paolinomanghi - would be great to fix this before the Bioconductor 3.15 release.

[2022-03-28 13:46] lwaldron commented on #14
@paolinomanghi it would be great to include a table of known duplicates in the Bioconductor 3.15 release.

[2022-03-28 13:47] lwaldron commented on #62
@paolinomanghi would you respond?

[2022-03-28 14:03] lwaldron commented on #60
Very sorry for the delay here - @paolinomanghi will you be able to resolve this for the Bioconductor 3.14 release? This one is a very quick fix (although it isn't hurting anything).

[2022-03-28 14:04] lwaldron commented on #59
Very sorry for the delay here - @paolinomanghi will you be able to resolve this for the Bioconductor 3.14 release?

[2022-03-28 14:07] lwaldron commented on #57
@paolinomanghi it looks like there are two outstanding issues here:
- [ ] Looking at the second one (CA_C10039MS2669SA_t0M15, 61 species), I'm a bit in a doubt: to me (again, personal impression) looks like a typical oral microbiome although is signed as a stool. So, I need some more time to check this.
- [ ] Concerning the problem of Ijaz dataset: I confirm that the one you found is an error. I'l

[2022-03-28 14:08] lwaldron commented on #51
Pinging @cmirzayi, would be great to resolve this for the Bioconductor 3.15 release.

[2022-03-28 14:09] lwaldron commented on #39
This is an orphaned enhancement item.

[2022-03-28 14:11] lwaldron commented on #45
Was closed by @paolinomanghi in cbb5fef9416c6373676b24419b899720078abdfe

[2022-03-28 14:11] #45 closed

[2022-03-28 14:33] lwaldron commented on #18
I think the main action item here is for @QuanWan89 to include a `study design` field in the study table in the new metadata database, with the following values. That can be started in Quan's project management (although I don't have access to that):
- case-control
- cross-sectional observational, not case-control
- time series / longitudinal observational
- laboratory experiment
- randomized cont

[2022-03-28 14:33] #18 closed

[2022-03-29 14:16] QuanWan89 commented on #26
Hi Levi,

Let me add this topic in tomorrow's meeting agenda. I am sorry that I am
really busy until next Wednesday. I am sorry that I cannot reply to you
immediately yesterday. But I have several topics to discuss tomorrow. I
will update the notes tonight.

Best regards,
Quan

On Mon, Mar 28, 2022 at 10:18 AM Levi Waldron ***@***.***>
wrote:

[2022-03-30 13:51] schifferl commented on #26
@lwaldron and @QuanWan89, I went a little overboard in 422dfd9 knowing that we could revive the maps if needed. I will bring them back now, sorry about that.

[2022-03-30 14:25] lwaldron commented on #26
No worries - my only concern is that it wasn't mentioned in this issue, and I don't want to lose track of the work done. It's not a bad place to keep them until we can complete this issue. It points to the need to update a central project management space for all the moving parts of cMD.

[2022-04-07 12:12] #65 closed

[2022-04-07 12:14] #64 closed

[2022-04-07 12:19] #59 closed

[2022-04-07 12:21] #60 closed

[2022-04-07 14:10] paolinomanghi commented on #61
Thanks for your work on this table. It is normal to have more samples updated on NCBI then actually analised in the paper. The table I used to map the files against the raw reads was https://www.ncbi.nlm.nih.gov/sra?linkname=bioproject_sra_all&from_uid=392180.

[2022-04-07 14:10] #61 closed

[2022-04-07 15:27] #57 closed

[2022-04-07 16:07] paolinomanghi commented on #63
Thanks @luzhang321  and @hjruscheweyh for your valuable work.

[2022-04-07 16:07] #63 closed

[2022-05-13 17:14] schifferl opened #66 "remove sample_id MSM6J2HB from HMP_2019_ibdmdb"
In the `HMP_2019_ibdmdb` metadata file, `sample_id` **MSM6J2HB** should be removed – it is not in the matrix file that is on ExperimentHub and always makes the number of samples reported by the `sampleMetadata` table in curatedMetagenomicData wrong.

[2022-05-13 17:16] schifferl opened #67 "PehrssonE_2016 metadata file contains duplicate entries"
There is a duplicate `sample_id` (**SID03C_000**) in the `PehrssonE_2016` metadata file – the duplicate row should be removed.

[2022-05-17 07:49] paolinomanghi commented on #67
Ok, I introduced this bug two weeks ago, now I solved it.

[2022-05-17 07:49] #67 closed

[2022-05-17 07:51] paolinomanghi commented on #66
I fixed this. The table I used previously was already without this one but for some reason I did finish the commit. Done, sorry.

[2022-05-17 07:51] #66 closed

[2022-05-18 16:04] schifferl commented on #67
Thanks @paolinomanghi

[2022-05-27 14:08] cmirzayi opened #68 "VincentC_2016 Antibiotics Metadata do not match published paper"
`antibiotics_family` and `antibiotics_current_use` appear to be wrong for many of the samples for the VincentC_2016 study.

All 229 samples are coded as `yes` for `antibiotics_current_use` but that is not true according to the original paper. A handful of participants never received antibiotics over the course of the study and many did not begin the study on antibiotics.

Additionally there are is

[2022-06-08 16:36] lwaldron commented on #26
Direct link to files in GitHub repo for convenience: https://github.com/waldronlab/curatedMetagenomicDataCuration/tree/3e7fba1bcacbc65cb3ef3a5b36c7feb9bcae6acc/inst/extdata

[2022-06-16 13:35] lwaldron opened #69 "bodysite for HMP_2012 anerior_nares samples should be "nose" or "external nares", not "nasal cavity""
The anterior nares subsite is not part of the nasal cavity. `nose` and `external nares` are both parent terms in the Uberon Anatomy Ontology ([link](https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_2001427&lang=en&viewMode=PreferredRoots&siblings=false)). I would vote for `nose` to keep it simple for more people.

[2022-07-05 12:58] paolinomanghi commented on #23
I think this is solved, I'm closing it.

[2022-07-05 12:58] #23 closed

[2022-07-05 13:11] paolinomanghi commented on #69
This is ok to me, but I would include it in a more general conversion function from old grammar to a new ontology-based one, rather than simply amend the current table.

[2022-10-20 22:15] cmirzayi commented on #68
I have heard back from the corresponding author and the corrected metadata and accompanying data dictionary are attached.
[data_dictionary_09062022.xlsx](https://github.com/waldronlab/curatedMetagenomicDataCuration/files/9834260/data_dictionary_09062022.xlsx)
[jgh_09062022.csv](https://github.com/waldronlab/curatedMetagenomicDataCuration/files/9834261/jgh_09062022.csv)

[2022-10-24 13:31] paolinomanghi commented on #68
Thanks @Chloe Mirzayi ***@***.***> , this is great! I will
add it asap!

On Fri, Oct 21, 2022 at 12:15 AM Chloe Mirzayi ***@***.***>
wrote:

[2022-11-14 13:44] AndreaZen-1 commented on #68
This is solved, I'm closing.

[2022-11-14 13:44] #68 closed

[2022-11-15 15:50] AndreaZen-1 commented on #14
I made the table as described in the first comment on this Issue.
I uploaded it in curatedMetagenomicDataCuration/inst/extdata/duplicates_table.tsv

Let me know if anything else is needed, for now I'm closing.

[2022-11-15 15:50] #14 closed

[2022-11-18 08:04] paolinomanghi commented on #62
@AndreaZen-1 can you fix this one?